.totalScoreBox {
background-color: blueviolet;
padding: 10px;
}

.winLossBox {
background-color: aqua;
padding: 10px;
}

.randomNumBox {
    background-color: rgb(230, 170, 59);
    padding: 5px;
}

.jumbotron {
    margin: 0;
    padding: 25px;
}

.totalScoreBox, .winLossBox, .randomNumBox {
    text-align: center;
}


#redGem {
    height: 190px;
    width: 203x;
    padding: 10px;
}

#greenGem,#blueGem,#purpleGem {
    height: 200px;
    width: 200px;
    padding: 5px;
}